<% @page_title = "Chat Window" %>

<div class="full">
	<div class="wrap">
		<div id="conversation-main">
			<h1>Chatting with <b><%= @conversation.with(current_user).name.upcase %></b></h1>
			<!-- <span><%= Rails.env.capitalize %></span> -->
			<hr class="title-line">
			<div class="clearfix"></div>

			<div id="conversation-body" data-conversation-id="<%= @conversation.id %>">
		    <%= render @conversation.personal_messages %>
		  </div>

		  <%= form_for @personal_message do |f| %>
		    <%= hidden_field_tag 'conversation_id', @conversation.id %>
		    <%= f.text_area :body, placeholder: "How can we help you today?" %>
				<br>
		    <%= f.submit "Send", class: 'btn btn-primary', data: { send: "message" } %>
		  <% end %>
			<%= link_to "Back to Conversations", conversations_path, class: 'btn btn-add' %>
		</div>
	</div>
</div>
